#bluebg {
    background-image: url("../images/bgimage.jpg");
    width: 100%;
    height: 960px;
}

#whitebg    {
    background-color: #ffffff;
}
img     {
    width: 90%;
    padding: 2% 2% 2% 2%;
}

#spacing    {
    margin-top: 10%;
}

p   {
    padding: 1% 1%;
}

nav .navbar-brand  {
    background-color: #4aaaa5;
    max-width: 640px;
    text-align: center;
    width: 100%;
}

nav {
    margin: 0;
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
}

li  {
    text-align: center;
}


#border  {
    border-right: 1px solid #cccccc;
}

#noborder    {
    border-right: none;
}

footer  {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

h2  {
    border-bottom: 3px #dddddd solid;
    color:  #4aaaa5;
}