#bluebg {
    background-image: url("../images/bgimage.jpg");
    width: 100%;
    height: 960px;
}

#whitebg    {
    background-color: #ffffff;
}
img     {
    width: 90%;
    padding: 2% 2% 2% 2%;
}

#spacing    {
    margin-top: 20%;
}

p   {
    padding: 1% 1%;
}

nav .navbar-brand  {
    background-color: #4aaaa5;
    max-width: 640px;
    text-align: center;
    width: 100%;
}

nav {
    margin: 0;
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
}

nav li  {
    text-align: center;
}

#border  {
    border-right: 1px solid #cccccc;
}

#noborder    {
    border-right: none;
}

footer  {
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-top: 10%;
    text-align: center;
}

h2  {
    border-bottom: 3px #dddddd solid;
    color:  #4aaaa5;
}

/* contact.html css */
#button  {
    padding: 1%;
    margin: 1%;
    text-align: center;
    width: 20%;
    background-color: #4aaaa5;
    margin: 0;
    text-align: center;
    /* float: left; */
    color: white;
}

textarea    {
    width: 100%;
    height: 200px;
}

input   {
    width: 100%;
}

ul  {
    list-style-type: none;
}


label   {
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    display: inline-block;
    margin-bottom: 1%;
    margin-top: 1%;
}

#max    {
    max-width: 100%;
}

/* CSS for Portfolio */

.project1 {
    background-image: url("../images/project1.jpeg");
    background-size: cover;
    width: 12em;
    height: 12em; 
    position: relative;
    display: inline-block;
}
.title1 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 4% 0;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.project2 {
    background-image: url("../images/project2.jpg");
    background-size: cover;
    width: 12em;
    height: 12em;
    position: relative;
    /* float: left; */
    /* margin-left: 300px; */

}
.title2 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 4% 0;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.project3 {
    background-image: url("../images/project3.jpg");
    background-size: cover;
    width: 12em;
    height: 12em;
    position: relative;
}
.title3 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 4% 0;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.project4 {
    background-image: url("../images/project4.jpeg");
    background-size: cover;
    width: 12em;
    height: 12em;
    position: relative;
    display: inline-block;
}
.title4 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 4% 0;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    width: 100%;
}
.project5 {
    background-image: url("../images/project5.jpeg");
    background-size: cover;
    width: 12em;
    height: 12em;
    position: relative;
    float: right;
}
.title5 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 4% 0;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    width: 100%;
}